body {
  background-color: #FFFFFF;
  color: #0C0C0D;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 13px;
  line-height: 1.5;
  width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
body#popup {
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#apiResponse {
  margin: 5px auto;
  padding: 5px;
  background-color: #FFFFFF;
  border: 0px solid #D7D7DB;
  border-radius: 4px;
  color: #0C0C0D;
  width: 95%;
  text-align: left;
  overflow-y: auto;
  font-size: 13px;
}
#button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px auto;
}
#button-container button {
 padding: 2px;
 margin: 0 2px;
}
button {
  width: calc(30% - 10px);
  padding: 3px;
  background-color: #FFFFFF;
  color: #0C0C0C;
  border: 1px solid #D7D7DB;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  align-items: left;
  justify-content: left;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0; 
}
button img {
  height: 30px;
  width: 30px;
  filter: none; 
  margin: 0;
  padding: 0;
  object-fit: contain!important;
  object-position: center;
}

button.ok {
  background-color: #0A84FF;
  color: #FFFFFF;
  border-color: #0A84FF;
}
button.ok img, button.active img {
  filter: invert(100%);
}
button:focus {
  outline: 0;
  font-weight: bold;
}
button:active {
  background-color: #eaeaea;
}
button:hover {
  background-color: #E5E5EA;
}

button.ok:hover {
  background-color: #009AFF;
  border-color: #009AFF;
}

#options-form {
  margin: 16px auto;
  height: 100%;
}
#options-form label {
  display: block;
  margin-bottom: 8px;
  color: #0C0C0D;
  font-size: 13px;
  font-weight: bold;
  for: "input-id";
}
#options-form fieldset {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7DB;
  border-radius: 4px;
  color: #0C0C0D;
}
#options-form legend {
  font-size: 13px;
  font-weight: bold;
  color: #0C0C0D;
}
#options-form input[type="text"],
#options-form input[type="number"],
#options-form input[type="password"] {
  width: 95%;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7DB;
  border-radius: 4px;
  color: #0C0C0D;
  outline: none;
  font-size: 13px;
  id: "input-id";
}
.abstract {
  background-color: #FFFFFF;
  color: #0C0C0D;
  padding: 10px;
  margin: 5px auto;
  border-radius: 4px;
  border: 0;
  text-align: justify;
  hyphens: auto;
  font-size: 13px;
  max-height: 320px;
  min-height:  320px;
  overflow-y: auto; 
}
.abstract p {
  text-indent: 30px;
  margin: 0.3em auto;
}
.keywords {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 3px;
}
.keyword {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #0e0e0e;
  padding: 4px;
  border-radius: 8px;
  font-size: 11px;
  font-style: italic;
  border: 1px solid #eaeaea;
  text-transform: capitalize;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#responseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  min-height: 500px;
  overflow-y: hidden;
  margin: 0 auto;
  margin-bottom: 5px;
}
#spinner {
  border: 4px solid #D7D7DB;
  border-top: 4px solid #0A84FF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
#initialText {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #0A84FF;
  margin: 16px 0;
  font-size: 13px;
}
.citation {
  padding: 5px;
  background-color: #fafafa;
  border-radius: 8px;
  font-size: 11px;
}
.citation a {
 color: #666;
 font-weight: bold;
 text-decoration: none;
}
.citation p {
  margin: 0;
  text-align: left;
}
.info-badge {
  background-color: #30D158;
  color: #FFFFFF; 
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  margin-top: 10px;
}
.error-badge {
  background-color: #FF453A;
  color: #FFFFFF; 
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  margin-top: 10px;
}
#tabs {
  display: flex;
  justify-content: left;
  margin-bottom: 3px;
  border-bottom: 1px solid #D7D7DB
}

#tabContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabLink {
  padding: 3px auto;
  background-color: #f1f1f1;
  border: 1px solid #D7D7DB;
  cursor: pointer;
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 1px;
  margin-left: 3px;
}
.tabLink.active {
  background-color: #0a84ff;
  color: #FFFFFF;
  font-weight: bold;
}
.tabContent {
  padding: 10px;
  padding-bottom: 0;
}
img#logo {
  display: block;
  margin: 10px auto;
  filter: none
}

.about-logo {
  display: block;
  margin: 20px auto;
  width: 128px;
  height: 128px;
}

#aboutContent {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width:  330px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 16px;
  background: linear-gradient(45deg, #f0f0f0, #e0e0e0);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

#aboutContent h2, #aboutContent h3 {
  margin: 10px 0;
}

#aboutContent a {
  color: #0A84FF;
  text-decoration: none;
}

#aboutContent a:hover {
  text-decoration: underline;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #1C1C1E;
    color: #F2F2F7;
  }
  #apiResponse {
    background-color: #2C2C2E;
    border-color: #3A3A3C;
    color: #F2F2F7;
  }
  button {
    background-color: #2C2C2E;
    color: #F2F2F7;
    border-color: #3A3A3C;
  }
  button.ok {
    background-color: #007AFF;
    border-color: #007AFF;
  }
  button:hover {
    background-color: #4a4a4a;
  }
  button.ok:hover {
    background-color: #009AFF;
    border-color: #009AFF;
  }

  #options-form fieldset {
    background-color: #2C2C2E;
    border-color: #3A3A3C;
    color: #F2F2F7;
  }
  #options-form legend {
    color: #F2F2F7;
  }
  #options-form input[type="text"],
  #options-form input[type="number"],
  #options-form input[type="password"] {
    background-color: #1C1C1E;
    border-color: #3A3A3C;
    color: #F2F2F7;
  }
  .abstract {
    background-color: #2C2C2E;
    color: #F2F2F7;
  }
  .keyword {
    color: #F2F2F7;
    border-color: #3A3A3C;
  }
  #spinner {
    border-color: #3A3A3C;
    border-top-color: #007AFF;
  }
  .citation {
    background-color: #2C2C2E;
  }
  .citation a {
    color: #8E8E93;
  }
  .tabLink {
    background-color: #3f3f3f;
    border-color: #3A3A3C;
  }
  .tabLink.active {
    background-color: #007AFF;
  }
  button img {
    filter: invert(100%);
  }
   #aboutContent a {
    color: #007AFF;
  }

  #options-form label {
  display: block;
  margin-bottom: 8px;
  color: #F2F2F7;
  font-size: 13px;
  font-weight: bold;
}
#aboutContent {
  background: linear-gradient(45deg, #2c2c2e, #1c1c1e);
  border: 1px solid #333;
}

}
